Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

host-tools-clippy:
  run: scripts/lint_host_tools.sh

refactor(graphics): replace sumi_sun wildcard imports
  src/firmware/graphics/sumi_sun/render.rs
  src/firmware/graphics/sumi_sun/sampling.rs
  src/firmware/graphics/sumi_sun/sampling/noise_math.rs
Due: rustfmt

refactor(graphics): split suminagashi inverse luma sampling
  src/firmware/graphics/suminagashi.rs
Due: rustfmt

refactor(graphics): replace suminagashi wildcard imports
  src/firmware/graphics/suminagashi/helpers.rs
  src/firmware/graphics/suminagashi/helpers/noise.rs
  src/firmware/graphics/suminagashi/render.rs
  src/firmware/graphics/suminagashi/vec2.rs
Due: rustfmt

refactor(runtime): replace visual wildcard imports
  src/firmware/render/visual/helpers.rs
  src/firmware/render/visual/mod.rs
  src/firmware/render/visual/shanshui_render.rs
Due: rustfmt

refactor(runtime): split visual staging buffer writes
  src/firmware/render/visual/mod.rs
Due: rustfmt

refactor(runtime): split display app event handling
  src/firmware/runtime/display_task/app_events.rs
Due: rustfmt

refactor(runtime): split display loop and event receive flow
  src/firmware/runtime/display_task/mod.rs
Due: rustfmt

refactor(storage): split HTTP header read error handling
  src/firmware/storage/upload/http/connection.rs
Due: rustfmt

refactor(runtime): split boot discovery gate polling flow
  tools/hostctl/src/workflows_wifi_acceptance.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): split wifi ready wait logic for Sonar
  tools/hostctl/src/workflows_wifi_acceptance.rs
Due: rustfmt, host-tools-clippy

refactor(wifi): remove wildcard imports from tool tests
  tools/hostctl/src/scenarios.rs
  tools/hostctl/src/serial_console.rs
  tools/hostctl/src/workflows_wifi_discovery.rs
  tools/scene_maker/src/cli.rs
  tools/scene_maker/src/format.rs
  tools/scene_maker/src/pipeline/tests.rs
  tools/scene_viewer/src/cli.rs
  tools/scene_viewer/src/render/tests.rs
Due: rustfmt, host-tools-clippy

fix(tooling): unblock host tests for scene tools
  .cargo/config.toml
  tools/scene_maker/README.md
  tools/scene_maker/src/format.rs
  tools/scene_viewer/README.md
Due: rustfmt, host-tools-clippy

fix(runtime): clean clippy warnings and gate embedded tests
  src/drivers/inkplate/base.rs
  src/drivers/inkplate/control.rs
  src/firmware/app_state/engine.rs
  src/firmware/app_state/mod.rs
  src/firmware/app_state/store.rs
  src/firmware/event_engine/features.rs
  src/firmware/event_engine/tap_hsm.rs
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/line_reader.rs
  src/firmware/runtime/serial_task/parser/basic.rs
  src/firmware/runtime/serial_task/tests.rs
  src/firmware/storage/sd_task.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/touch/core/mod.rs
  src/firmware/touch/normalize/mod.rs
  src/firmware/touch/wizard/engine/mod.rs
  src/firmware/touch/wizard/engine/tests.rs
Due: rustfmt

refactor(upload): split wifi upload module and connect state machine
  src/firmware/storage/upload/wifi.rs
  src/firmware/storage/upload/wifi/connect/attempt.rs
  src/firmware/storage/upload/wifi/connect/config.rs
  src/firmware/storage/upload/wifi/connect/error.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery.rs
  src/firmware/storage/upload/wifi/connect/events.rs
  src/firmware/storage/upload/wifi/connect/mod.rs
  src/firmware/storage/upload/wifi/connect/prepare.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_preconditions.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_scan.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_start.rs
  src/firmware/storage/upload/wifi/connect/recovery.rs
  src/firmware/storage/upload/wifi/connect/state_machine.rs
  src/firmware/storage/upload/wifi/connect/success.rs
  src/firmware/storage/upload/wifi/connect/success/success_progress.rs
  src/firmware/storage/upload/wifi/connect/timeout.rs
  src/firmware/storage/upload/wifi/connect/timing.rs
  src/firmware/storage/upload/wifi/helpers.rs
  src/firmware/storage/upload/wifi/scan.rs
  src/firmware/storage/upload/wifi/scan_candidates.rs
Due: rustfmt

refactor(wifi): split hostctl acceptance/discovery workflows
  tools/hostctl/src/main.rs
  tools/hostctl/src/scenarios.rs
  tools/hostctl/src/workflows_wifi_acceptance.rs
  tools/hostctl/src/workflows_wifi_acceptance/boot_gate.rs
  tools/hostctl/src/workflows_wifi_acceptance/host_wifi.rs
  tools/hostctl/src/workflows_wifi_acceptance/mod.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
  tools/hostctl/src/workflows_wifi_acceptance/wait_ready.rs
  tools/hostctl/src/workflows_wifi_common/context.rs
  tools/hostctl/src/workflows_wifi_common/mem_diag.rs
  tools/hostctl/src/workflows_wifi_common/mod.rs
  tools/hostctl/src/workflows_wifi_common/net.rs
  tools/hostctl/src/workflows_wifi_common/types.rs
  tools/hostctl/src/workflows_wifi_discovery.rs
  tools/hostctl/src/workflows_wifi_discovery/mod.rs
  tools/hostctl/src/workflows_wifi_discovery/probe.rs
  tools/hostctl/src/workflows_wifi_discovery/profile.rs
  tools/hostctl/src/workflows_wifi_discovery/runtime.rs
  tools/hostctl/src/workflows_wifi_discovery/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): split troubleshoot workflow module
  tools/hostctl/src/main.rs
  tools/hostctl/src/workflows_common.rs
  tools/hostctl/src/workflows_sdcard.rs
  tools/hostctl/src/workflows_troubleshoot.rs
  tools/hostctl/src/workflows_troubleshoot/classify.rs
  tools/hostctl/src/workflows_troubleshoot/context.rs
  tools/hostctl/src/workflows_troubleshoot/mod.rs
  tools/hostctl/src/workflows_troubleshoot/probes.rs
  tools/hostctl/src/workflows_troubleshoot/runtime_core.rs
  tools/hostctl/src/workflows_troubleshoot/runtime_steps.rs
  tools/hostctl/src/workflows_troubleshoot/utils.rs
Due: rustfmt, host-tools-clippy

refactor(runtime): split task/parser into focused modules
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/command_dispatch.rs
  src/firmware/runtime/serial_task/metrics.rs
  src/firmware/runtime/serial_task/parser/basic.rs
  src/firmware/runtime/serial_task/parser/basic/common.rs
  src/firmware/runtime/serial_task/parser/basic/network.rs
  src/firmware/runtime/serial_task/parser/basic/state.rs
  src/firmware/runtime/serial_task/parser/basic/telemetry.rs
  src/firmware/runtime/serial_task/parser/basic/tests.rs
  src/firmware/runtime/serial_task/task_state.rs
Due: rustfmt

chore(ci): disable lib harness targets for embedded checks
  Cargo.toml
Due: host-tools-clippy

refactor(storage): split sd upload logic into submodules
  src/firmware/storage/sd_task/upload.rs
  src/firmware/storage/sd_task/upload/dispatch.rs
  src/firmware/storage/sd_task/upload/metrics.rs
  src/firmware/storage/sd_task/upload/path_ops.rs
  src/firmware/storage/sd_task/upload/stream.rs
  src/firmware/storage/sd_task/upload/types.rs
Due: rustfmt

refactor(upload): split http connection handling modules
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/http/connection/request.rs
  src/firmware/storage/upload/http/connection/routes.rs
Due: rustfmt

refactor(tooling): group hostctl storage workflows
  tools/hostctl/src/main.rs
  tools/hostctl/src/workflows_sdcard.rs
  tools/hostctl/src/workflows_storage/mod.rs
  tools/hostctl/src/workflows_storage/sdcard.rs
  tools/hostctl/src/workflows_storage/upload.rs
  tools/hostctl/src/workflows_upload.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): split hostctl storage upload and sdcard workflows
  tools/hostctl/src/workflows_storage/sdcard.rs
  tools/hostctl/src/workflows_storage/sdcard/io.rs
  tools/hostctl/src/workflows_storage/sdcard/mod.rs
  tools/hostctl/src/workflows_storage/sdcard/run.rs
  tools/hostctl/src/workflows_storage/sdcard/runtime.rs
  tools/hostctl/src/workflows_storage/sdcard/templates.rs
  tools/hostctl/src/workflows_storage/sdcard/types.rs
  tools/hostctl/src/workflows_storage/upload.rs
  tools/hostctl/src/workflows_storage/upload/client.rs
  tools/hostctl/src/workflows_storage/upload/mod.rs
  tools/hostctl/src/workflows_storage/upload/pathing.rs
  tools/hostctl/src/workflows_storage/upload/run.rs
  tools/hostctl/src/workflows_storage/upload/transfer.rs
Due: rustfmt, host-tools-clippy

docs(docs): add rust LOC refactor RFC
  docs/development/rfc-rust-loc-refactor-plan.md
Due: none

refactor(storage): split sdcard FAT modules under 300 LOC
  packages/sdcard/src/fat/api_mutate.rs
  packages/sdcard/src/fat/api_mutate/append.rs
  packages/sdcard/src/fat/api_mutate/path_ops.rs
  packages/sdcard/src/fat/api_mutate/truncate.rs
  packages/sdcard/src/fat/api_read_write.rs
  packages/sdcard/src/fat/api_read_write/file_io.rs
  packages/sdcard/src/fat/api_read_write/list_dir.rs
  packages/sdcard/src/fat/api_read_write/stat.rs
  packages/sdcard/src/fat/cluster_utils.rs
  packages/sdcard/src/fat/cluster_utils/core_ops.rs
  packages/sdcard/src/fat/cluster_utils/write_burst.rs
  packages/sdcard/src/fat/cluster_utils/zero_and_path.rs
  packages/sdcard/src/fat/dir_scan.rs
  packages/sdcard/src/fat/dir_scan/io.rs
  packages/sdcard/src/fat/dir_scan/scan.rs
  packages/sdcard/src/fat/names_lfn.rs
  packages/sdcard/src/fat/names_lfn/lfn_decode.rs
  packages/sdcard/src/fat/names_lfn/path_display.rs
  packages/sdcard/src/fat/names_lfn/short_name.rs
Due: none

refactor(tooling): split hostctl runtime/scenario/console modules
  tools/hostctl/src/scenarios.rs
  tools/hostctl/src/scenarios/conditions.rs
  tools/hostctl/src/scenarios/core.rs
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/tests.rs
  tools/hostctl/src/serial_console.rs
  tools/hostctl/src/serial_console/core.rs
  tools/hostctl/src/serial_console/sdreq.rs
  tools/hostctl/src/serial_console/tests.rs
  tools/hostctl/src/workflows_runtime_modes.rs
  tools/hostctl/src/workflows_runtime_modes/run.rs
  tools/hostctl/src/workflows_runtime_modes/runtime.rs
  tools/hostctl/src/workflows_runtime_modes/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): split scene_maker cli and pipeline modules
  tools/scene_maker/src/cli.rs
  tools/scene_maker/src/cli/help.rs
  tools/scene_maker/src/cli/model.rs
  tools/scene_maker/src/cli/parse.rs
  tools/scene_maker/src/cli/tests.rs
  tools/scene_maker/src/pipeline.rs
  tools/scene_maker/src/pipeline/channels.rs
  tools/scene_maker/src/pipeline/core.rs
  tools/scene_maker/src/pipeline/encode.rs
  tools/scene_maker/src/pipeline/output.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): split scene_viewer cli and render modules
  tools/scene_viewer/src/cli.rs
  tools/scene_viewer/src/cli/help.rs
  tools/scene_viewer/src/cli/model.rs
  tools/scene_viewer/src/cli/parse.rs
  tools/scene_viewer/src/cli/tests.rs
  tools/scene_viewer/src/io.rs
  tools/scene_viewer/src/render.rs
  tools/scene_viewer/src/render/core.rs
  tools/scene_viewer/src/render/flow.rs
  tools/scene_viewer/src/render/flow/core.rs
  tools/scene_viewer/src/render/flow/input_maps.rs
  tools/scene_viewer/src/render/flow/output.rs
  tools/scene_viewer/src/render/flow/render_pass.rs
  tools/scene_viewer/src/render/quantize.rs
  tools/scene_viewer/src/render/stylize.rs
Due: rustfmt, host-tools-clippy

refactor(storage): split upload and sd task modules under 300 LOC
  src/firmware/storage/sd_task.rs
  src/firmware/storage/sd_task/core_setup.rs
  src/firmware/storage/sd_task/receive.rs
  src/firmware/storage/sd_task/receive_core.rs
  src/firmware/storage/sd_task/receive_handlers.rs
  src/firmware/storage/sd_task/receive_nonwifi.rs
  src/firmware/storage/sd_task/receive_wifi.rs
  src/firmware/storage/sd_task/runtime_loop.rs
  src/firmware/storage/sd_task/upload_ready.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/diagnostics.rs
  src/firmware/storage/upload/http/foundation.rs
  src/firmware/storage/upload/http/server_loop.rs
  src/firmware/storage/upload/http/socket_cycle.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/auth.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/discovery.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/fallback.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/main.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/observed_ap.rs
Due: rustfmt

refactor(runtime): split serial task commands and tests modules
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/commands/app_state.rs
  src/firmware/runtime/serial_task/commands/mapping.rs
  src/firmware/runtime/serial_task/commands/types.rs
  src/firmware/runtime/serial_task/tests.rs
  src/firmware/runtime/serial_task/tests/mappings.rs
  src/firmware/runtime/serial_task/tests/netcfg.rs
  src/firmware/runtime/serial_task/tests/parse_core.rs
  src/firmware/runtime/serial_task/tests/sdwait_storage.rs
Due: rustfmt

refactor(runtime): split remaining oversized rust modules under 300 LOC
  src/firmware/psram/buffer.rs
  src/firmware/psram/core.rs
  src/firmware/psram/init.rs
  src/firmware/psram/mod.rs
  src/firmware/psram/status.rs
  src/firmware/runtime/diagnostics.rs
  src/firmware/runtime/diagnostics/control.rs
  src/firmware/runtime/diagnostics/model.rs
  src/firmware/runtime/diagnostics/sd_checks.rs
  src/firmware/runtime/diagnostics/wifi.rs
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/runtime/display_task/app_events/apply_state.rs
  src/firmware/runtime/display_task/app_events/dispatch.rs
  src/firmware/runtime/display_task/app_events/lifecycle.rs
  src/firmware/runtime/display_task/app_events/render_helpers.rs
  src/firmware/runtime/display_task/app_events/repaint.rs
  src/firmware/runtime/display_task/app_events/status_mapping.rs
  src/firmware/runtime/display_task/app_events/touch_wizard.rs
  src/firmware/telemetry/recorders.rs
  src/firmware/telemetry/recorders/diag_mask.rs
  src/firmware/telemetry/recorders/helpers.rs
  src/firmware/telemetry/recorders/sd_upload.rs
  src/firmware/telemetry/recorders/upload_net.rs
  src/firmware/telemetry/recorders/wifi.rs
  tools/touch_replay/src/kinds.rs
  tools/touch_replay/src/main.rs
  tools/touch_replay/src/parse.rs
Due: rustfmt, host-tools-clippy

fix(wifi): harden regression gate env overrides and panic scan
  scripts/lib/run_hostctl.sh
  scripts/tests/hw/test_wifi_regression_gate.sh
Due: none

docs(docs): mark upload pipeline validation complete and set next A/B
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

ci(ci): add stack-risk checks and workflow issue templates
  .github/ISSUE_TEMPLATE/wifi_upload_regression.yml
  .github/pull_request_template.md
  .github/workflows/rust_ci.yml
  scripts/ci/check_stack_risk.sh
  scripts/tests/host/test_check_stack_risk.sh
Due: none

docs(docs): update wifi/upload RFC, guardrails, and soak evidence
  docs/development/README.md
  docs/development/hardware-test-matrix.md
  docs/development/network-acceptance-agent.md
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/troubleshoot-agent.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
  docs/development/wifi-upload-regression-protocol.md
Due: none

feat(upload): add pipeline telemetry and chunk-size tuning
  Cargo.toml
  packages/sdcard/src/fat/api_mutate/append.rs
  packages/sdcard/src/fat/api_mutate/path_ops.rs
  packages/sdcard/src/fat/api_mutate/truncate.rs
  packages/sdcard/src/fat/api_read_write/file_io.rs
  packages/sdcard/src/fat/api_read_write/list_dir.rs
  packages/sdcard/src/fat/core.rs
  packages/sdcard/src/fat/fat_mount.rs
  packages/sdcard/src/fat/names_lfn/lfn_decode.rs
  packages/sdcard/src/fat/names_lfn/path_display.rs
  packages/sdcard/src/fat/tests.rs
  scripts/build/build.sh
  scripts/device/flash.sh
  src/firmware/runtime/serial_task/command_dispatch.rs
  src/firmware/runtime/serial_task/metrics.rs
  src/firmware/runtime/service_mode.rs
  src/firmware/storage/sd_task/runtime_loop.rs
  src/firmware/storage/sd_task/upload/dispatch.rs
  src/firmware/storage/sd_task/upload/path_ops.rs
  src/firmware/storage/sd_task/upload/stream.rs
  src/firmware/storage/sd_task/upload/types.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/http/connection/request.rs
  src/firmware/storage/upload/http/connection/routes.rs
  src/firmware/storage/upload/http/foundation.rs
  src/firmware/storage/upload/http/server_loop.rs
  src/firmware/storage/upload/http/socket_cycle.rs
  src/firmware/storage/upload/mod.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/telemetry/counters.rs
  src/firmware/telemetry/recorders/upload_net.rs
  src/firmware/telemetry/snapshot.rs
  src/firmware/types/base.rs
  src/firmware/types/sd.rs
Due: rustfmt, host-tools-clippy

feat(wifi): harden hostctl acceptance, discovery, and panic guardrails
  .env.example
  tools/hostctl/src/workflows_storage/upload/client.rs
  tools/hostctl/src/workflows_storage/upload/mod.rs
  tools/hostctl/src/workflows_storage/upload/run.rs
  tools/hostctl/src/workflows_storage/upload/transfer.rs
  tools/hostctl/src/workflows_troubleshoot/classify.rs
  tools/hostctl/src/workflows_troubleshoot/runtime_core.rs
  tools/hostctl/src/workflows_upload.rs
  tools/hostctl/src/workflows_wifi_acceptance/boot_gate.rs
  tools/hostctl/src/workflows_wifi_acceptance/mod.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
  tools/hostctl/src/workflows_wifi_acceptance/wait_ready.rs
  tools/hostctl/src/workflows_wifi_common/guardrails.rs
  tools/hostctl/src/workflows_wifi_common/mod.rs
  tools/hostctl/src/workflows_wifi_common/net.rs
  tools/hostctl/src/workflows_wifi_common/panic.rs
  tools/hostctl/src/workflows_wifi_common/types.rs
  tools/hostctl/src/workflows_wifi_discovery/mod.rs
  tools/hostctl/src/workflows_wifi_discovery/probe.rs
  tools/hostctl/src/workflows_wifi_discovery/runtime.rs
  tools/hostctl/src/workflows_wifi_discovery/tests.rs
Due: rustfmt, host-tools-clippy

feat(telemetry): add stack headroom probes for upload panic triage
  src/firmware/runtime/bootstrap.rs
  src/firmware/storage/sd_task/upload/stream.rs
  src/firmware/storage/upload/http/connection/routes.rs
  src/firmware/telemetry/recorders.rs
  src/firmware/telemetry/recorders/stack.rs
Due: rustfmt

fix(touch): reduce trace channel buffers to reclaim stack headroom
  src/firmware/touch/config.rs
Due: rustfmt

docs(upload): record panic mitigation evidence and 65536 soak rerun
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
Due: none

feat(upload): switch default chunk size to 65536
  src/firmware/types/base.rs
  tools/hostctl/src/workflows_storage/upload/transfer.rs
Due: rustfmt, host-tools-clippy

Path conditions:
  rustfmt: any of: {src/**/*.rs,tools/**/*.rs,build.rs}
  host-tools-clippy: any of: {tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}
