Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: "{src/**/*.rs,tools/**/*.rs,build.rs}"
      run: cargo fmt --all
      stage_fixed: true
    markdown-links:
      run: scripts/check_markdown_links.sh
    host-tools-clippy:
      glob: "{tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}"
      run: scripts/lint_host_tools.sh

commit-msg:
  commands:
    conventional-commitlint:
      run: scripts/check_commit_message.sh {1}

pre-push:
  commands:
    firmware-clippy:
      glob: "{src/**,Cargo.toml,Cargo.lock,build.rs,rust-toolchain.toml,.cargo/**,config/events.toml}"
      run: cargo clippy --locked --all-features --workspace --bins --lib -- -D warnings

docs(upload): record waived soak and default 65536 rollout
  docs/development/README.md
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

fix(upload): harden read-body reset recovery and add reset metrics
  src/firmware/runtime/serial_task/metrics.rs
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/http/socket_cycle.rs
  src/firmware/telemetry/counters.rs
  src/firmware/telemetry/recorders/upload_net.rs
  src/firmware/telemetry/snapshot.rs
Due: rustfmt

feat(tooling): add upload reset metric guard to wifi acceptance workflow
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/src/workflows_wifi_acceptance/mod.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
Due: rustfmt, host-tools-clippy

docs(upload): mark connresetfix reruns complete and next A/B
  docs/development/README.md
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

fix(tooling): avoid abort metric false-positives in panic detection
  tools/hostctl/src/workflows_wifi_common/panic.rs
Due: rustfmt, host-tools-clippy

docs(upload): record sd spi A/B results and retain 36mhz default
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

feat(storage): add cmd25 burst wait diagnostics for uploads
  packages/sdcard/src/probe/core.rs
  packages/sdcard/src/probe/write_multi.rs
  src/firmware/storage/sd_task/upload/metrics.rs
  src/firmware/storage/sd_task/upload/stream.rs
Due: rustfmt

docs(upload): shift root-cause focus to fat append path
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
Due: none

feat(upload): add fat append chunk timing diagnostics
  packages/sdcard/src/fat/api_mutate/append.rs
  src/firmware/storage/sd_task/upload/stream.rs
  src/firmware/storage/sd_task/upload/types.rs
Due: rustfmt

docs(upload): record fat append soak correlation and next focus
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

feat(upload): add chunk queue-boundary residual diagnostics
  src/firmware/storage/sd_task/runtime_loop.rs
  src/firmware/storage/sd_task/upload/dispatch.rs
  src/firmware/storage/sd_task/upload/helpers.rs
  src/firmware/storage/sd_task/upload/stream.rs
  src/firmware/storage/sd_task/upload/types.rs
  src/firmware/storage/sd_task/upload_ready.rs
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/types/sd.rs
Due: rustfmt

docs(upload): record queue-boundary soak correlation
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

feat(upload): tune ingress fairness yield thresholds
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/types/base.rs
  src/firmware/types/mod.rs
Due: rustfmt

docs(docs): record ingress threshold tuning and soak validation
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
Due: none

fix(wifi): stabilize listener readiness timeout window
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  src/firmware/storage/upload/wifi/connect/success.rs
  src/firmware/storage/upload/wifi/connect/success/success_progress.rs
Due: rustfmt

docs(docs): shard large markdown files and enforce loc guard
  .github/workflows/docs_ci.yml
  .github/workflows/rust_ci.yml
  AGENTS.md
  docs/development/README.md
  docs/development/readme/part-01.md
  docs/development/readme/part-02.md
  docs/development/readme/part-03.md
  docs/development/readme/part-04.md
  docs/development/readme/part-05.md
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/rfc-upload-throughput-next-phase/part-02.md
  docs/development/rfc-upload-throughput-next-phase/part-03.md
  docs/development/rfc-upload-throughput-next-phase/part-04.md
  docs/development/rfc-upload-throughput-next-phase/part-05.md
  docs/development/rfc-upload-throughput-next-phase/part-06.md
  docs/development/rfc-upload-throughput-next-phase/part-07.md
  docs/development/upload-throughput-history.md
  docs/development/upload-throughput-history/part-01.md
  docs/development/upload-throughput-history/part-02.md
  docs/development/upload-throughput-history/part-03.md
  docs/development/upload-throughput-history/part-04.md
  docs/development/upload-throughput-history/part-05.md
  docs/development/upload-throughput-history/part-06.md
  docs/development/upload-throughput-history/part-07.md
  docs/development/upload-throughput-history/part-08.md
  docs/experiments/sumi-e-rendering-of-pre-baked-scenes.md
  docs/experiments/sumi-e-rendering-of-pre-baked-scenes/part-01.md
  docs/experiments/sumi-e-rendering-of-pre-baked-scenes/part-02.md
  lefthook.yml
  scripts/ci/check_markdown_loc.sh
  tools/scene_maker/docs/research/stylized-rendering-of-pre-baked-3d-scene.md
  tools/scene_maker/docs/research/stylized-rendering-of-pre-baked-3d-scene/part-01.md
  tools/scene_maker/docs/research/stylized-rendering-of-pre-baked-3d-scene/part-02.md
Due: host-tools-clippy

perf(upload): harden burst sender and readiness diagnostics
  scripts/lib/run_hostctl.sh
  scripts/tests/hw/test_wifi_acceptance.sh
  scripts/tests/hw/test_wifi_discovery_debug.sh
  scripts/tests/hw/test_wifi_regression_gate.sh
  src/firmware/runtime/serial_task/metrics.rs
  src/firmware/storage/sd_task/logging.rs
  src/firmware/storage/sd_task/runtime_loop.rs
  src/firmware/storage/sd_task/upload/dispatch.rs
  src/firmware/storage/sd_task/upload/helpers.rs
  src/firmware/storage/sd_task/upload_ready.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/http/connection/request.rs
  src/firmware/storage/upload/http/connection/routes.rs
  src/firmware/storage/upload/http/foundation.rs
  src/firmware/storage/upload/http/helpers.rs
  src/firmware/storage/upload/http/socket_cycle.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/telemetry/counters.rs
  src/firmware/telemetry/recorders/upload_net.rs
  src/firmware/telemetry/recorders/wifi.rs
  src/firmware/telemetry/snapshot.rs
  src/firmware/types/base.rs
  src/firmware/types/mod.rs
  src/firmware/types/sd.rs
  tools/hostctl/src/workflows_storage/upload/client.rs
  tools/hostctl/src/workflows_storage/upload/mod.rs
  tools/hostctl/src/workflows_storage/upload/run.rs
  tools/hostctl/src/workflows_storage/upload/transfer.rs
  tools/hostctl/src/workflows_troubleshoot/classify.rs
  tools/hostctl/src/workflows_upload.rs
  tools/hostctl/src/workflows_wifi_acceptance/boot_gate.rs
  tools/hostctl/src/workflows_wifi_acceptance/mod.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
  tools/hostctl/src/workflows_wifi_acceptance/wait_ready.rs
  tools/hostctl/src/workflows_wifi_common/guardrails.rs
  tools/hostctl/src/workflows_wifi_common/panic.rs
Due: rustfmt, host-tools-clippy

perf(upload): harden transport reset retry tail latency
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-08.md
  tools/hostctl/src/workflows_storage/upload/client.rs
Due: rustfmt, host-tools-clippy

perf(upload): add stream burst sender with pacing guard
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-08.md
  tools/hostctl/src/workflows_storage/upload/client.rs
  tools/hostctl/src/workflows_storage/upload/direct_stream.rs
  tools/hostctl/src/workflows_storage/upload/mod.rs
Due: rustfmt, host-tools-clippy

fix(wifi): honor connection-close for faster accept rearm
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/http/connection/request.rs
  src/firmware/storage/upload/http/connection/routes.rs
  src/firmware/storage/upload/http/socket_cycle.rs
Due: rustfmt

fix(wifi): harden startup readiness and auth-reject recovery
  src/firmware/storage/upload/wifi/connect/error/error_recovery/observed_ap.rs
  src/firmware/types/base.rs
  tools/hostctl/src/workflows_wifi_acceptance/boot_gate.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
Due: rustfmt, host-tools-clippy

docs(upload): record step53 and step54 validation evidence
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history.md
  docs/development/upload-throughput-history/part-09.md
Due: none

docs(wifi): add decision ledger and novelty preflight
  AGENTS.md
  docs/development/README.md
  docs/development/readme/part-01.md
  docs/development/readme/part-04.md
  docs/development/rfc-upload-throughput-next-phase.md
  docs/development/upload-throughput-history.md
  docs/development/wifi-upload-decision-ledger.md
  docs/development/wifi-upload-regression-protocol.md
Due: none

fix(tooling): enforce wifi upload experiment novelty guard
  docs/development/readme/part-04.md
  docs/development/wifi-upload-regression-protocol.md
  scripts/lib/experiment_novelty_guard.sh
  scripts/tests/hw/test_wifi_acceptance.sh
  scripts/tests/hw/test_wifi_regression_gate.sh
Due: none

perf(upload): add adaptive ingress fairness mode
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/http/connection/fairness.rs
  src/firmware/types/base.rs
  src/firmware/types/mod.rs
Due: rustfmt

fix(wifi): use target candidate signal for discovery fallback
  src/firmware/storage/upload/wifi.rs
  src/firmware/storage/upload/wifi/connect/error.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/discovery.rs
  src/firmware/storage/upload/wifi/connect/error/error_recovery/main.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_scan.rs
  src/firmware/storage/upload/wifi/scan.rs
Due: rustfmt

docs(upload): record adaptive ab and discovery hardening evidence
  docs/development/readme/part-04.md
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/rfc-upload-throughput-next-phase/part-07.md
  docs/development/upload-throughput-history/part-09.md
  docs/development/wifi-upload-decision-ledger.md
Due: none

fix(wifi): harden listener readiness recovery gating
  src/firmware/storage/upload/http/diagnostics.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
  tools/hostctl/src/workflows_wifi_acceptance/wait_ready.rs
Due: rustfmt, host-tools-clippy

docs(wifi): record listener readiness regression closure
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/rfc-upload-throughput-next-phase/part-07.md
  docs/development/upload-throughput-history/part-09.md
  docs/development/wifi-upload-decision-ledger.md
Due: none

fix(tooling): harden discovery gate ack-loss handling
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_wifi_discovery/mod.rs
  tools/hostctl/src/workflows_wifi_discovery/probe.rs
  tools/hostctl/src/workflows_wifi_discovery/profile.rs
  tools/hostctl/src/workflows_wifi_discovery/runtime.rs
Due: rustfmt, host-tools-clippy

fix(upload): harden transport reset retry tail
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_storage/upload/client.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
Due: rustfmt, host-tools-clippy

fix(upload): add repeated-reset direct fallback guard
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_storage/upload/client.rs
  tools/hostctl/src/workflows_storage/upload/transfer.rs
Due: rustfmt, host-tools-clippy

fix(upload): use fresh client on chunk fallback
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_storage/upload/transfer.rs
Due: rustfmt, host-tools-clippy

test(upload): add deterministic direct-fallback coverage
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_storage/upload/transfer.rs
  tools/hostctl/src/workflows_storage/upload/transfer/tests.rs
Due: rustfmt, host-tools-clippy

fix(upload): default refresh retry on send/reset failures
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
Due: rustfmt, host-tools-clippy

docs(upload): record listener-ready regression as next focus
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
Due: none

fix(upload): harden acceptance startup listener recovery
  docs/development/rfc-upload-throughput-next-phase/part-01.md
  docs/development/upload-throughput-history/part-13.md
  docs/development/wifi-upload-decision-ledger.md
  tools/hostctl/src/workflows_wifi_acceptance/runtime_core.rs
Due: rustfmt, host-tools-clippy

fix(tooling): normalize path env vars before tmp run
  scripts/lib/run_hostctl.sh
Due: none

refactor(wifi): add legacy port backend seam
  Cargo.lock
  Cargo.toml
  docs/development/README.md
  docs/development/upload-throughput-history.md
  docs/development/upload-throughput-history/part-23.md
  docs/development/upload-throughput-history/part-24.md
  docs/development/upload-throughput-history/part-25.md
  docs/development/wifi-upload-decision-ledger.md
  src/firmware/storage/upload/mod.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/storage/upload/wifi/backend.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/availability.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/bootstrap.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/contracts.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/mod.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/runtime.rs
  src/firmware/storage/upload/wifi/runtime_init.rs
  tools/hostctl/src/workflows_wifi_acceptance/runtime_upload.rs
  tools/hostctl/src/workflows_wifi_common/net.rs
Due: rustfmt, host-tools-clippy
