Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

host-tools-clippy:
  run: scripts/lint_host_tools.sh

docs(runtime): record radio handoff import baseline
  docs/plans/ble-foundation-ledger.md
  docs/plans/ble-foundation-plan.md
  docs/reference/dram/dram-budget.md
Due: none

docs(docs): archive completed plans and reconcile active work
  docs/architecture/0006-flash-overlay-app-modules.md
  docs/architecture/0007-ui-and-application-structure.md
  docs/architecture/0008-app-catalogue-and-launcher.md
  docs/architecture/0009-ab-firmware-update-foundation.md
  docs/architecture/0010-durable-ui-settings.md
  docs/architecture/0012-sdcard-package-boundary.md
  docs/architecture/README.md
  docs/archive/README.md
  docs/archive/hardware/cold-boot-validation.md
  docs/archive/host-tooling/scripts-tools-surface-cleanup-ledger.md
  docs/archive/host-tooling/scripts-tools-surface-cleanup.md
  docs/archive/refactors/rust-loc-refactor.md
  docs/archive/refactors/source-tree-architecture-cleanup.md
  docs/archive/refactors/statig-event-engine.md
  docs/archive/refactors/touch-engine.md
  docs/archive/refactors/ui-app-structure-rework-ledger.md
  docs/archive/refactors/ui-app-structure-rework-plan.md
  docs/guides/troubleshooting.md
  docs/plans/asset-upload-transport.md
  docs/plans/diagnostics-sd-wifi-tests.md
  docs/plans/panel-waveform-reference-assembly.md
  docs/plans/source-tree-architecture-followups.md
  docs/plans/touch-capture-replay-reliability.md
  docs/reference/event-engine-guide.md
  docs/reference/hardware-test-matrix.md
  docs/reference/reliability-issues.md
  scripts/README.md
  scripts/device/cold_boot_matrix.sh
  scripts/host-test.sh
  scripts/surface.json
  scripts/touch/touch_capture.sh
  src/firmware/ui/TODO.md
  src/platform/inkplate/waveform.rs
  test-support/README.md
  tools/README.md
Due: rustfmt, host-tools-clippy

fix(runtime): re-read live Wi-Fi config on radio-handoff retry
  docs/plans/ble-foundation-ledger.md
  docs/plans/ble-foundation-plan.md
  docs/plans/ble-phase1s-capacity-recovery-ledger.md
  docs/plans/ble-phase1s-capacity-recovery.md
  src/firmware/net/runtime.rs
Due: rustfmt

docs(runtime): record formal Phase 1S capacity gate pass
  docs/plans/ble-foundation-ledger.md
  docs/plans/ble-phase1s-capacity-recovery-ledger.md
  docs/plans/ble-phase1s-capacity-recovery.md
Due: none

docs(runtime): record Wi-Fi regression gate result (CAP-0010)
  docs/plans/ble-phase1s-capacity-recovery-ledger.md
Due: none

fix(storage): bound chain-free walk by volume size, not stale entry size
  packages/sdcard/src/fat/engine/mutate/mod.rs
  packages/sdcard/src/fat/engine/mutate/rename_remove.rs
  packages/sdcard/tests/fat_engine.rs
Due: none

docs(runtime): record CAP-0005 fix and gate rerun result
  docs/plans/ble-foundation-ledger.md
  docs/plans/ble-phase1s-capacity-recovery-ledger.md
  docs/plans/ble-phase1s-capacity-recovery.md
Due: none

docs(runtime): root-cause CAP-0013 low-water as order statistics
  docs/plans/ble-foundation-ledger.md
  docs/plans/ble-phase1s-capacity-recovery-ledger.md
  docs/plans/ble-phase1s-capacity-recovery.md
Due: none

fix(tooling): gate wifi-acceptance memory check on live free bytes
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core/start.rs
Due: rustfmt, host-tools-clippy

docs(runtime): record CAP-0015 and close Phase 1S (P1S-A4)
  docs/plans/ble-foundation-ledger.md
  docs/plans/ble-phase1s-capacity-recovery-ledger.md
  docs/plans/ble-phase1s-capacity-recovery.md
Due: none

docs(docs): align BLE service foundation and plan
  docs/architecture/0011-bounded-ble-service-foundation.md
  docs/plans/ble-foundation-plan.md
Due: none

ci(ci): move Rust validation to local gates
  .github/workflows/rust_ci.yml
  .github/workflows/rust_ci_premerge.yml
  scripts/ci/check_ble_controller_patch.sh
Due: none

feat(graphics): make ambient view exclusive
  Cargo.toml
  src/firmware/ui/lvgl/backend.rs
  src/firmware/ui/lvgl/backend/init.rs
  src/firmware/ui/lvgl/backend/navigation.rs
  src/firmware/ui/lvgl/backend/overlay.rs
  src/firmware/ui/screen/ambient_picker.rs
  src/firmware/ui/screen/ambient_view.rs
  src/firmware/ui/screen/home.rs
  src/firmware/ui/screen/mod.rs
Due: rustfmt, host-tools-clippy

refactor(platform): seed platform/render, and correct the migration order
  Cargo.lock
  Cargo.toml
  docs/architecture/0015-two-product-platform-workspace.md
  platform/render/Cargo.toml
  platform/render/src/dither.rs
  platform/render/src/dither/tests.rs
  platform/render/src/dither/types.rs
  platform/render/src/intent_bridge.rs
  platform/render/src/lib.rs
  scripts/host-suites.tsv
  src/firmware/ui/lvgl/backend.rs
  src/firmware/ui/lvgl/io.rs
  src/firmware/ui/lvgl/mod.rs
  src/firmware/ui/overlay/base_overlays.rs
  src/firmware/ui/screen/ambient_view/mod.rs
  src/firmware/ui/screen/catalogue_presenter.rs
  src/firmware/ui/screen/gesture_test.rs
  src/firmware/ui/screen/home.rs
  src/firmware/ui/screen/launcher.rs
  src/firmware/ui/screen/overlay_settings.rs
  src/firmware/ui/screen/provider_fixture.rs
  src/firmware/ui/widget/carousel.rs
  tools/touch_replay/tests/lvgl_dither.rs
Due: rustfmt, host-tools-clippy

fix(platform): move the panel blit out of render -- it is board code
  docs/architecture/0015-two-product-platform-workspace.md
  platform/render/Cargo.toml
  platform/render/src/geometry.rs
  platform/render/src/lib.rs
  src/firmware/ui/lvgl/backend.rs
  src/firmware/ui/lvgl/io.rs
  src/firmware/ui/lvgl/mod.rs
  src/platform/inkplate/mod.rs
  src/platform/inkplate/panel_blit.rs
  src/platform/inkplate/panel_blit/tests.rs
  tools/touch_replay/Cargo.lock
  tools/touch_replay/Cargo.toml
  tools/touch_replay/tests/panel_blit.rs
Due: rustfmt, host-tools-clippy

refactor(ui): decouple lvgl/io from the board driver; single-source geometry
  docs/architecture/0015-two-product-platform-workspace.md
  src/firmware/ui/lvgl/backend/frame.rs
  src/firmware/ui/lvgl/io.rs
  src/firmware/ui/lvgl/mod.rs
Due: rustfmt

refactor(platform): extract arbitration, breaking the ble <-> net cycle
  Cargo.lock
  Cargo.toml
  docs/architecture/0015-two-product-platform-workspace.md
  platform/arbitration/Cargo.toml
  platform/arbitration/src/claim.rs
  platform/arbitration/src/handoff.rs
  platform/arbitration/src/lib.rs
  scripts/host-suites.tsv
  src/firmware/ble/mod.rs
  src/firmware/net/mod.rs
  src/firmware/net/runtime.rs
  src/firmware/net/runtime/off_resources.rs
  src/firmware/net/wifi/status.rs
  src/firmware/observability/recorders/upload_net.rs
  src/firmware/observability/recorders/wifi.rs
  src/firmware/serial/command_dispatch.rs
  test-support/host/ble_transport_host_harness/Cargo.lock
  test-support/host/ble_transport_host_harness/Cargo.toml
  test-support/host/ble_transport_host_harness/src/lib.rs
  test-support/host/net_status_host_harness/Cargo.lock
  test-support/host/net_status_host_harness/Cargo.toml
Due: rustfmt, host-tools-clippy

docs(adr-0015): record the hardware verification attempt
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

feat(boards): add the Waveshare S3 board, validating the platform layer off-chip
  Cargo.toml
  boards/waveshare-rlcd42/.cargo/config.toml
  boards/waveshare-rlcd42/Cargo.lock
  boards/waveshare-rlcd42/Cargo.toml
  boards/waveshare-rlcd42/src/main.rs
  platform/console/Cargo.toml
Due: host-tools-clippy

docs(adr-0015): the platform layer runs on ESP32-S3
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

feat(boards): ST7305 panel driver for the Waveshare S3 board
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
Due: none

feat(platform): add board::Panel, shaped by two real displays
  Cargo.lock
  Cargo.toml
  boards/waveshare-rlcd42/Cargo.lock
  boards/waveshare-rlcd42/Cargo.toml
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
  docs/architecture/0015-two-product-platform-workspace.md
  platform/board/Cargo.toml
  platform/board/src/lib.rs
Due: host-tools-clippy

feat(boards): run packages/rtc on the S3, unchanged
  boards/waveshare-rlcd42/Cargo.lock
  boards/waveshare-rlcd42/Cargo.toml
  boards/waveshare-rlcd42/src/main.rs
Due: none

feat(boards): LVGL over board::Panel on the S3, driven by the shell registry
  boards/waveshare-rlcd42/.cargo/config.toml
  boards/waveshare-rlcd42/Cargo.lock
  boards/waveshare-rlcd42/Cargo.toml
  boards/waveshare-rlcd42/build.sh
  boards/waveshare-rlcd42/lvgl/lv_conf.h
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
  boards/waveshare-rlcd42/src/ui.rs
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

feat: read the SHTC3 and show it on the S3 panel
  Cargo.lock
  Cargo.toml
  boards/waveshare-rlcd42/Cargo.lock
  boards/waveshare-rlcd42/Cargo.toml
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/ui.rs
  docs/architecture/0015-two-product-platform-workspace.md
  packages/shtc3/Cargo.toml
  packages/shtc3/src/lib.rs
  scripts/host-suites.tsv
Due: host-tools-clippy

perf(boards): stop polling LVGL; cut idle cost on the S3
  boards/waveshare-rlcd42/src/main.rs
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

perf(boards): implement RefreshMode::Partial for the ST7305
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
  boards/waveshare-rlcd42/src/ui.rs
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

perf(boards): measure the ST7305 power modes via TE, and fix the write path
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

feat(boards): drive the ST7305 at its real limits, and correct two claims
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
  boards/waveshare-rlcd42/src/ui.rs
  docs/architecture/0015-two-product-platform-workspace.md
Due: none

fix(runtime): keep the internal heap off the APP CPU ROM stack
  config/linker/esp32/meditamer-memory.x
  docs/architecture/0014-single-production-sd-recovery-updater.md
  docs/reference/dram/dram-budget-rom-stack.md
  src/firmware/psram/init.rs
  src/platform/inkplate/hardware.rs
Due: rustfmt

chore(git): ignore board build artifacts
  .gitignore
Due: none

style(rust): normalize formatting after platform split
  platform/arbitration/src/claim.rs
  platform/arbitration/src/handoff.rs
  platform/render/src/intent_bridge.rs
  src/firmware/net/runtime.rs
  src/firmware/serial/command_dispatch.rs
  src/firmware/ui/lvgl/backend.rs
  src/firmware/ui/lvgl/io.rs
  src/firmware/ui/lvgl/mod.rs
  src/firmware/ui/screen/ambient_view/mod.rs
  src/firmware/ui/screen/catalogue_presenter.rs
  src/firmware/ui/screen/gesture_test.rs
  src/firmware/ui/screen/home.rs
Due: rustfmt

feat(boards): add battery-aware RTC sampling
  boards/waveshare-rlcd42/scripts/reply_time_request.sh
  boards/waveshare-rlcd42/src/jtag_rx.rs
  boards/waveshare-rlcd42/src/main.rs
  boards/waveshare-rlcd42/src/panel.rs
  boards/waveshare-rlcd42/src/ui.rs
Due: none

Path conditions:
  rustfmt: any of: {src/**/*.rs,tools/**/*.rs,build.rs}
  host-tools-clippy: any of: {tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}
