Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

host-tools-clippy:
  run: scripts/lint_host_tools.sh

refactor(wifi): port legacy admission module
  docs/development/upload-throughput-history.md
  docs/development/upload-throughput-history/part-28.md
  docs/development/upload-throughput-history/part-29.md
  docs/development/wifi-upload-decision-ledger.md
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_admission_literal.rs
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_backend.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

refactor(wifi): port legacy event path
  docs/development/upload-throughput-history/part-29.md
  docs/development/wifi-upload-decision-ledger.md
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_common_literal.rs
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_event_literal.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

refactor(wifi): consolidate legacy facade
  docs/development/upload-throughput-history/part-29.md
  docs/development/wifi-upload-decision-ledger.md
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_facade.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

refactor(wifi): collapse legacy global tables
  docs/development/upload-throughput-history/part-29.md
  docs/development/wifi-upload-decision-ledger.md
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_literal.rs
Due: none

refactor(wifi): add legacy stack module tree
  docs/development/wifi-legacy-old-stack-implementation-plan.md
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/control.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/init.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/install.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/mod.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/rx.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

refactor(wifi): move legacy install and control into old stack
  docs/development/wifi-legacy-old-stack-implementation-plan.md
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/control.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/init.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/install.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

refactor(wifi): cut legacy backend to old stack rx
  docs/development/wifi-legacy-old-stack-implementation-plan.md
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/init.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/rx.rs
Due: none

docs(wifi): record old stack import outcome
  docs/development/wifi-legacy-old-stack-implementation-plan.md
Due: none

refactor(wifi): test blob compat install contract
  docs/development/wifi-legacy-old-stack-blob-compatibility-plan.md
  docs/development/wifi-legacy-old-stack-implementation-plan.md
  vendor/esp-radio-0.17.0/src/wifi/blob_compat_internal.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/init.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

refactor(wifi): scaffold true old stack backend
  docs/development/wifi-true-old-stack-backend-plan.md
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/install.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/control.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/init.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/install.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/mod.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/rx.rs
Due: none

refactor(wifi): import true old stack modules
  docs/development/wifi-true-old-stack-backend-plan.md
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/control.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/init.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/install.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/rx.rs
Due: none

refactor(wifi): validate true old stack cutover
  docs/development/wifi-true-old-stack-backend-plan.md
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: none

fix(wifi): validate no-psram discovery path
  docs/development/wifi-psram-discovery-validation-plan.md
  src/firmware/psram/buffer.rs
Due: rustfmt

test(wifi): compare idf scan with psram on and off
  docs/development/wifi-psram-discovery-validation-plan.md
  tools/esp_idf_wifi_control/sdkconfig.psram_on.defaults
Due: host-tools-clippy

refactor(wifi): add legacy discovery scaffold
  src/firmware/storage/upload/wifi.rs
  src/firmware/storage/upload/wifi/legacy_discovery/control.rs
  src/firmware/storage/upload/wifi/legacy_discovery/init.rs
  src/firmware/storage/upload/wifi/legacy_discovery/mod.rs
  src/firmware/storage/upload/wifi/legacy_discovery/types.rs
Due: rustfmt

refactor(wifi): route scan stage through legacy seam
  src/firmware/storage/upload/wifi/legacy_discovery/control.rs
  src/firmware/storage/upload/wifi/legacy_discovery/mod.rs
  src/firmware/storage/upload/wifi/scan/stage.rs
Due: rustfmt

refactor(wifi): route scan config through legacy seam
  src/firmware/storage/upload/wifi/legacy_discovery/config.rs
  src/firmware/storage/upload/wifi/legacy_discovery/mod.rs
  src/firmware/storage/upload/wifi/scan/stage.rs
Due: rustfmt

refactor(wifi): use legacy backend under discovery seam
  src/firmware/storage/upload/wifi/legacy_discovery/config.rs
  src/firmware/storage/upload/wifi/legacy_discovery/control.rs
Due: rustfmt

refactor(wifi): validate legacy discovery seam in boot scan
  src/firmware/storage/upload/wifi/connect/boot_scan_diag/mod.rs
Due: rustfmt

refactor(wifi): route legacy discovery session ops
  src/firmware/storage/upload/wifi/legacy_discovery/control.rs
  src/firmware/storage/upload/wifi/legacy_discovery/init.rs
Due: rustfmt

refactor(wifi): isolate backend owner seam
  src/firmware/storage/upload/wifi/backend.rs
  src/firmware/storage/upload/wifi/backend_owner/controller.rs
  src/firmware/storage/upload/wifi/backend_owner/mod.rs
  src/firmware/storage/upload/wifi/backend_owner/runtime.rs
  src/firmware/storage/upload/wifi/backend_owner/scan.rs
Due: rustfmt

test(wifi): isolate boot-scan task environment
  src/firmware/runtime/bootstrap.rs
Due: rustfmt

refactor(wifi): preallocate legacy scan result buffers
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_scan_backend.rs
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_scan_literal.rs
  vendor/esp-radio-0.17.0/src/wifi/legacy_stack/control.rs
  vendor/esp-radio-0.17.0/src/wifi/true_old_stack/control.rs
Due: none

test(wifi): trace legacy runtime activation
  src/firmware/storage/upload/wifi/backend_legacy_port/controller.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/runtime.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: rustfmt

test(wifi): trace legacy wifi task creation
  src/firmware/storage/upload/wifi/backend_legacy_port/runtime.rs
Due: rustfmt

test(wifi): trace legacy scan queue and event flow
  src/firmware/storage/upload/wifi/backend_legacy_port/controller.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/mod.rs
  src/firmware/storage/upload/wifi/backend_legacy_port/runtime.rs
  src/firmware/storage/upload/wifi/connect/boot_scan_diag/mod.rs
  vendor/esp-radio-0.17.0/src/compat/common_legacy_queue.rs
  vendor/esp-radio-0.17.0/src/lib.rs
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_common_literal.rs
  vendor/esp-radio-0.17.0/src/wifi/mod.rs
Due: rustfmt

test(wifi): trace explicit scan postcall state
  src/firmware/storage/upload/wifi/connect/boot_scan_idf_compare.rs
  tools/esp_wifi_legacy_nostd_control/src/main.rs
Due: rustfmt, host-tools-clippy

test(wifi): probe explicit scan config abi
  src/firmware/storage/upload/wifi/connect/boot_scan_idf_compare.rs
Due: rustfmt

docs(docs): mark asset upload transport as undecided, not decided
  docs/plans/asset-upload-transport.md
Due: none

chore(evidence): pin standalone sdcard dependencies
  packages/sdcard/Cargo.lock
Due: none

feat(tooling): add log and artifact pruning
  docs/archive/README.md
  docs/archive/host-tooling/log-and-artifact-pruning-ledger.md
  docs/archive/host-tooling/log-and-artifact-pruning.md
  docs/guides/build-and-flash.md
  docs/guides/development-setup.md
  scripts/ci/check_script_surface.py
  scripts/surface.json
  tools/hostctl/src/main.rs
  tools/hostctl/src/workflows/artifacts/apply.rs
  tools/hostctl/src/workflows/artifacts/expiry.rs
  tools/hostctl/src/workflows/artifacts/inventory.rs
  tools/hostctl/src/workflows/artifacts/mod.rs
  tools/hostctl/src/workflows/artifacts/model.rs
  tools/hostctl/src/workflows/artifacts/outcome.rs
  tools/hostctl/src/workflows/artifacts/prune.rs
  tools/hostctl/src/workflows/artifacts/report.rs
  tools/hostctl/src/workflows/artifacts/retention.rs
  tools/hostctl/src/workflows/artifacts/scan.rs
  tools/hostctl/src/workflows/artifacts/tests.rs
  tools/hostctl/src/workflows/mod.rs
Due: rustfmt, host-tools-clippy

chore(graphics): retain source image assets
  assets/30e9e02c-41a3-42fd-91a4-215d63f3dd7d.png
  assets/bmo.png
  assets/scene.jpg
Due: none

Path conditions:
  rustfmt: any of: {src/**/*.rs,tools/**/*.rs,build.rs}
  host-tools-clippy: any of: {tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}
