Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: "{src/**/*.rs,tools/**/*.rs,build.rs}"
      run: cargo fmt --all
      stage_fixed: true
    markdown-links:
      run: scripts/check_markdown_links.sh
    host-tools-clippy:
      glob: "{tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}"
      run: scripts/lint_host_tools.sh

commit-msg:
  commands:
    conventional-commitlint:
      run: scripts/check_commit_message.sh {1}

pre-push:
  commands:
    firmware-clippy:
      glob: "{src/**,Cargo.toml,Cargo.lock,build.rs,rust-toolchain.toml,.cargo/**,config/events.toml}"
      run: cargo clippy --locked --all-features --workspace --bins --lib -- -D warnings

perf(sd-upload): reuse append session across chunks
  docs/development/upload-throughput-history.md
  packages/sdcard/src/fat/api_mutate.rs
  src/firmware/storage/sd_task/upload.rs
Due: rustfmt

fix(regression): harden wifi upload harness isolation
  docs/development/README.md
  scripts/test_wifi_upload_regression_serial.py
Due: none

fix(regression): harden health reachability gating
  docs/development/README.md
  scripts/test_wifi_upload_regression.sh
  scripts/test_wifi_upload_regression_serial.py
Due: none

perf(sd-fat): flush append metadata on commit only
  packages/sdcard/src/fat/api_mutate.rs
  src/firmware/storage/sd_task/upload.rs
Due: rustfmt

docs(perf): record latest upload throughput comparison
  docs/development/README.md
  docs/development/upload-throughput-history.md
Due: none

perf(sd-upload): add create/open append and replace-rename paths
  packages/sdcard/src/fat/api_mutate.rs
  src/firmware/storage/sd_task/upload.rs
Due: rustfmt

fix(regression): harden upload recovery after link loss
  docs/development/README.md
  scripts/test_wifi_upload_regression_serial.py
  scripts/upload_assets_http.py
Due: none

fix(upload): add liveness telemetry and harden wifi set/runtime path
  scripts/test_wifi_upload_regression_serial.py
  scripts/upload_assets_http.py
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/io/wifiset.rs
  src/firmware/storage/sd_task/upload.rs
  src/firmware/storage/sd_task/wifi_config.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/telemetry/mod.rs
  src/firmware/types/wifi.rs
Due: rustfmt

fix(harness): harden UART preflight and add fail-time liveness snapshots
  scripts/test_wifi_upload_regression_serial.py
Due: none

fix(sd-fat): stop lookup scans at end marker and skip free-slot tracking
  packages/sdcard/src/fat/api_mutate.rs
  packages/sdcard/src/fat/api_read_write.rs
  packages/sdcard/src/fat/cluster_utils.rs
  packages/sdcard/src/fat/dir_scan.rs
Due: none

fix(sd-fat): avoid cluster leak on mkdir entry-write failure
  packages/sdcard/src/fat/api_mutate.rs
Due: none

fix(upload): cap TCP connect timeout to avoid long SYN_SENT stalls
  scripts/upload_assets_http.py
Due: none

feat(telemetry): instrument wifi->dhcp->http pipeline diagnostics
  scripts/test_wifi_upload_regression_serial.py
  src/firmware/runtime/serial_task.rs
  src/firmware/storage/upload/http.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

chore(test): add upload request tracing and auto backtrace decode
  scripts/test_wifi_upload_regression_serial.py
  scripts/upload_assets_http.py
Due: none

chore(debug): trace boot reset reason and http accept/request path
  src/firmware/runtime/bootstrap.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
Due: rustfmt

chore(debug): print reset reason code on boot
  src/firmware/runtime/bootstrap.rs
Due: rustfmt

feat(telemetry): expose boot reset code via metrics
  src/firmware/runtime/bootstrap.rs
  src/firmware/runtime/serial_task.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

chore(debug): drain uart during uploads and trace sd mkdir stages
  scripts/test_wifi_upload_regression_serial.py
  src/firmware/storage/sd_task/upload.rs
  src/firmware/storage/upload/sd_bridge.rs
Due: rustfmt

fix(sd): stabilize sd command path with psram headroom and shallow init
  Cargo.lock
  Cargo.toml
  packages/sdcard/Cargo.toml
  packages/sdcard/src/probe/core.rs
  packages/sdcard/src/runtime/common.rs
  packages/sdcard/src/runtime/fat_io.rs
  packages/sdcard/src/runtime/fat_mutation.rs
  packages/sdcard/src/runtime/probe_rw.rs
  scripts/test_sdcard_hw.sh
  src/firmware/runtime/bootstrap.rs
  src/firmware/storage/sd_task.rs
  src/firmware/storage/sd_task/dispatch.rs
  src/firmware/storage/sd_task/upload/helpers.rs
  src/firmware/storage/upload/http.rs
Due: rustfmt, host-tools-clippy

fix(sd): keep write telemetry format while skipping readback verify
  packages/sdcard/src/runtime/fat_io.rs
Due: none

test(sd): use 8.3-safe root names in hw harness
  scripts/test_sdcard_hw.sh
Due: none

fix(upload): add wifi dhcp watchdog and link diagnostics
  scripts/test_wifi_upload_regression_serial.py
  src/firmware/runtime/bootstrap.rs
  src/firmware/storage/upload/mod.rs
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

feat(telemetry): add runtime diagnostic domain controls
  docs/development/README.md
  docs/development/telemetry-control-agent.md
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/parser/basic.rs
  src/firmware/runtime/serial_task/parser/mod.rs
  src/firmware/runtime/serial_task/tests.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

chore(ci): baseline analyzer and metrics workflow
  .github/workflows/rust_ci.yml
  docs/development/rust-analyzer.md
  scripts/lint_code_analysis.sh
  scripts/lint_rust_analyzer.sh
Due: none

refactor(firmware): fix strict clippy blockers without behavior changes
  src/firmware/render/mod.rs
  src/firmware/runtime/bootstrap.rs
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/runtime/display_task/imu.rs
  src/firmware/runtime/display_task/touch_loop.rs
  src/firmware/storage/sd_task.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/touch/integration.rs
Due: rustfmt

refactor(wifi): split connection task modules
  src/firmware/storage/upload/mod.rs
  src/firmware/storage/upload/wifi/diag.rs
  src/firmware/storage/upload/wifi/driver.rs
  src/firmware/storage/upload/wifi/policy.rs
  src/firmware/storage/upload/wifi/state.rs
  src/firmware/storage/upload/wifi/task.rs
Due: rustfmt

refactor(serial): extract handlers and line reader
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/io.rs
  src/firmware/runtime/serial_task/io/netcfg.rs
  src/firmware/runtime/serial_task/io/state_ack.rs
  src/firmware/runtime/serial_task/io/wifiset.rs
  src/firmware/runtime/serial_task/labels.rs
  src/firmware/runtime/serial_task/line_reader.rs
  src/firmware/runtime/serial_task/parser/basic.rs
  src/firmware/runtime/serial_task/parser/mod.rs
  src/firmware/runtime/serial_task/tests.rs
Due: rustfmt

refactor(telemetry): split counters snapshot and recorders
  src/firmware/telemetry/counters.rs
  src/firmware/telemetry/mod.rs
  src/firmware/telemetry/recorders.rs
  src/firmware/telemetry/snapshot.rs
Due: rustfmt

refactor(app-state-render): unify snapshot and render params
  src/firmware/app_state/actions.rs
  src/firmware/app_state/engine.rs
  src/firmware/app_state/events.rs
  src/firmware/app_state/machine.rs
  src/firmware/app_state/mod.rs
  src/firmware/app_state/snapshot.rs
  src/firmware/app_state/store.rs
  src/firmware/app_state/tests.rs
  src/firmware/app_state/types.rs
  src/firmware/mod.rs
  src/firmware/render/mod.rs
  src/firmware/runtime/bootstrap.rs
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/runtime/display_task/imu.rs
  src/firmware/runtime/display_task/state.rs
  src/firmware/runtime/display_task/touch_loop.rs
  src/firmware/touch/integration.rs
  src/firmware/types/app_event.rs
  src/firmware/types/base.rs
  src/firmware/types/mod.rs
  src/firmware/types/modes.rs
  src/firmware/types/sd.rs
  src/firmware/types/wifi.rs
Due: rustfmt

refactor(sdcard-fat): split mutation internals by operation
  packages/sdcard/src/fat/api_mutate.rs
  packages/sdcard/src/fat/api_read_write.rs
  packages/sdcard/src/fat/dir_scan.rs
  packages/sdcard/src/fat/tests.rs
Due: none

refactor(hostctl): add shared workflow common helpers
  scripts/lint_host_tools.sh
  scripts/test_hostctl_host.sh
  tools/hostctl/Cargo.lock
  tools/hostctl/Cargo.toml
  tools/hostctl/scenarios/runtime-modes-smoke.sw.yaml
  tools/hostctl/scenarios/sdcard-hw.sw.yaml
  tools/hostctl/scenarios/troubleshoot.sw.yaml
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/scenarios/wifi-chaos.sw.yaml
  tools/hostctl/scenarios/wifi-discovery-debug.default.toml
  tools/hostctl/scenarios/wifi-discovery-debug.sw.yaml
  tools/hostctl/scenarios/wifi-policy.default.json
  tools/hostctl/src/env_utils.rs
  tools/hostctl/src/logging.rs
  tools/hostctl/src/main.rs
  tools/hostctl/src/port_detect.rs
  tools/hostctl/src/scenarios.rs
  tools/hostctl/src/serial_console.rs
  tools/hostctl/src/workflows_runtime_modes.rs
  tools/hostctl/src/workflows_sdcard.rs
  tools/hostctl/src/workflows_sdcard_tests.rs
  tools/hostctl/src/workflows_serial.rs
  tools/hostctl/src/workflows_troubleshoot.rs
  tools/hostctl/src/workflows_upload.rs
  tools/hostctl/src/workflows_wifi_acceptance.rs
  tools/hostctl/src/workflows_wifi_discovery.rs
Due: rustfmt, host-tools-clippy

refactor(hostctl): migrate workflows to common helpers
  docs/development/README.md
  docs/development/diagnostics-sd-wifi-tests-plan.md
  docs/development/hardware-test-matrix.md
  docs/development/hostctl-workflow-authoring.md
  docs/development/network-acceptance-agent.md
  docs/development/reliability-issues.md
  docs/development/sound.md
  docs/development/telemetry-control-agent.md
  docs/development/troubleshoot-agent.md
  docs/development/upload-throughput-history.md
  scripts/cold_boot_matrix.sh
  scripts/flash.sh
  scripts/generate_pirata_digits.py
  scripts/lib/run_hostctl.sh
  scripts/lib/serial_port.sh
  scripts/marble_metrics.sh
  scripts/monitor.sh
  scripts/repaint.sh
  scripts/runtime_modes_smoke.sh
  scripts/soak_boot.sh
  scripts/soak_refresh.sh
  scripts/tap_capture.sh
  scripts/test_sdcard_hw.sh
  scripts/test_troubleshoot_hw.sh
  scripts/test_wifi_acceptance.sh
  scripts/test_wifi_discovery_debug.sh
  scripts/test_wifi_upload_regression.sh
  scripts/test_wifi_upload_regression_serial.py
  scripts/timeset.sh
  scripts/touch_capture.sh
  scripts/touch_wizard_dump.sh
  scripts/upload_assets_http.py
  scripts/upload_assets_http.sh
  scripts/wifiset.sh
Due: none

refactor(runtime): remove legacy runtime-service plumbing
  src/drivers/inkplate/base.rs
  src/drivers/inkplate/display/async_impl.rs
  src/drivers/inkplate/display/sync.rs
  src/drivers/inkplate/mod.rs
  src/firmware/assets/runtime/mod.rs
  src/firmware/assets/runtime/pirata.rs
  src/firmware/assets/runtime/pirata_specs.rs
  src/firmware/config/channels.rs
  src/firmware/config/constants.rs
  src/firmware/psram/mod.rs
  src/firmware/render/clock.rs
  src/firmware/render/clock/text.rs
  src/firmware/runtime/diagnostics.rs
  src/firmware/runtime/display_task/mod.rs
  src/firmware/runtime/display_task/runtime_services.rs
  src/firmware/runtime/mod.rs
  src/firmware/runtime/service_mode.rs
  src/firmware/storage/mod.rs
  src/firmware/storage/mode_store.rs
  src/firmware/storage/sd_task/logging.rs
  src/firmware/storage/sd_task/tests.rs
  src/firmware/storage/sd_task/upload.rs
  src/firmware/storage/sd_task/upload/helpers.rs
  src/firmware/storage/transfer_buffers.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/touch/debug_log.rs
Due: rustfmt

chore(ci): enforce file-size and complexity ratchet policy
  .github/workflows/rust_ci.yml
  config/rca-baseline.json
  lefthook.yml
  scripts/lint_code_analysis.sh
Due: none

refactor(sdcard): split probe core internals
  packages/sdcard/src/probe/core.rs
  packages/sdcard/src/probe/decode.rs
  packages/sdcard/src/probe/init.rs
  packages/sdcard/src/probe/io.rs
  packages/sdcard/src/probe/mod.rs
Due: none

refactor(scene-viewer): split monolithic main into modules
  tools/scene_viewer/src/bundle.rs
  tools/scene_viewer/src/cli.rs
  tools/scene_viewer/src/io.rs
  tools/scene_viewer/src/main.rs
  tools/scene_viewer/src/render.rs
Due: rustfmt, host-tools-clippy

chore(ci): enforce commit scope allowlist in hook
  docs/development/README.md
  scripts/check_commit_message.sh
Due: none

refactor(tooling): split scene-maker pipeline and format logic
  tools/scene_maker/src/cli.rs
  tools/scene_maker/src/format.rs
  tools/scene_maker/src/main.rs
  tools/scene_maker/src/pipeline.rs
Due: rustfmt, host-tools-clippy

chore(ci): ignore scripts python cache artifacts
  .gitignore
  scripts/__pycache__/upload_assets_http.cpython-314.pyc
Due: none
