Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: "{src/**/*.rs,tools/**/*.rs,build.rs}"
      run: cargo fmt --all
      stage_fixed: true
    markdown-links:
      run: scripts/check_markdown_links.sh
    host-tools-clippy:
      glob: "{tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}"
      run: scripts/lint_host_tools.sh

commit-msg:
  commands:
    conventional-commitlint:
      run: scripts/check_commit_message.sh {1}

pre-push:
  commands:
    firmware-clippy:
      glob: "{src/**,Cargo.toml,Cargo.lock,build.rs,rust-toolchain.toml,.cargo/**,config/events.toml}"
      run: cargo clippy --locked --all-features --workspace --bins --lib -- -D warnings

refactor(wifi): port legacy scheduler runtime path
  docs/development/README.md
  docs/development/readme/part-04.md
  docs/development/readme/part-06.md
  docs/development/upload-throughput-history.md
  docs/development/upload-throughput-history/part-25.md
  docs/development/upload-throughput-history/part-26.md
  docs/development/wifi-upload-decision-ledger.md
  tools/esp_radio_nostd_wifi_control/src/main.rs
  vendor/esp-rtos-0.2.0/src/esp_radio/legacy_builtin_scheduler.rs
  vendor/esp-rtos-0.2.0/src/esp_radio/legacy_scheduler.rs
  vendor/esp-rtos-0.2.0/src/esp_radio/mod.rs
  vendor/esp-rtos-0.2.0/src/esp_radio/task_bootstrap.rs
  vendor/esp-rtos-0.2.0/src/esp_radio/timer_queue.rs
  vendor/esp-rtos-0.2.0/src/lib.rs
  vendor/esp-rtos-0.2.0/src/scheduler.rs
  vendor/esp-rtos-0.2.0/src/task/xtensa.rs
  vendor/esp-rtos-0.2.0/src/timer/mod.rs
Due: rustfmt, host-tools-clippy

feat(tooling): execute workflow catch retries
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/engine_retry.rs
  tools/hostctl/src/scenarios/retry_tests.rs
  tools/hostctl/src/scenarios/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): move troubleshoot flash retry into workflow
  tools/hostctl/docs/workflow-engine-extension-plan.md
  tools/hostctl/scenarios/troubleshoot.sw.yaml
  tools/hostctl/src/workflows/troubleshoot/context.rs
  tools/hostctl/src/workflows/troubleshoot/mod.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_core.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_steps.rs
Due: rustfmt, host-tools-clippy

feat(tooling): add workflow repeat loops
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/engine_repeat.rs
  tools/hostctl/src/scenarios/for_tests.rs
  tools/hostctl/src/scenarios/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): move workflow loop control into scenarios
  tools/hostctl/docs/workflow-engine-extension-plan.md
  tools/hostctl/scenarios/runtime-modes-smoke.sw.yaml
  tools/hostctl/scenarios/wifi-discovery-debug.sw.yaml
  tools/hostctl/src/workflows/runtime_modes/runtime.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/control.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/round.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/summary.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/tests.rs
  tools/hostctl/src/workflows/wifi/discovery/tests.rs
Due: rustfmt, host-tools-clippy

feat(tooling): bind workflow call results
  tools/hostctl/src/scenarios/core.rs
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/engine_result.rs
  tools/hostctl/src/scenarios/result_tests.rs
  tools/hostctl/src/scenarios/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): move runtime mode setup into workflow data
  tools/hostctl/docs/workflow-engine-extension-plan.md
  tools/hostctl/scenarios/runtime-modes-smoke.sw.yaml
  tools/hostctl/src/workflows/runtime_modes/runtime.rs
Due: rustfmt, host-tools-clippy

feat(tooling): add explicit workflow switch defaults
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/switch_tests.rs
  tools/hostctl/src/scenarios/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): make workflow switch outcomes explicit
  tools/hostctl/docs/workflow-engine-extension-plan.md
  tools/hostctl/scenarios/wifi-discovery-debug.sw.yaml
Due: host-tools-clippy

feat(tooling): retry workflow call tasks
  tools/hostctl/scenarios/troubleshoot.sw.yaml
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/engine_call.rs
  tools/hostctl/src/scenarios/engine_retry.rs
  tools/hostctl/src/scenarios/engine_retry_support.rs
  tools/hostctl/src/scenarios/retry_tests.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_core.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_steps.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): move wifi retry flow into scenarios
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/scenarios/wifi-discovery-debug.sw.yaml
  tools/hostctl/src/workflows/wifi/acceptance/mod.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core/network.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/control.rs
Due: rustfmt, host-tools-clippy

feat(tooling): expand workflow expressions
  tools/hostctl/docs/workflow-engine-extension-plan.md
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/src/scenarios/conditions.rs
  tools/hostctl/src/scenarios/conditions_parse.rs
  tools/hostctl/src/scenarios/engine_support.rs
  tools/hostctl/src/scenarios/expression_tests.rs
  tools/hostctl/src/scenarios/tests.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core/network.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_upload/cycle.rs
Due: rustfmt, host-tools-clippy

feat(tooling): require explicit workflow switch exits
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/switch_tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): bind workflow setup state through results
  docs/development/hostctl-workflow-authoring.md
  tools/hostctl/scenarios/troubleshoot.sw.yaml
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/src/workflows/troubleshoot/context.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_core.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_steps.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core/start.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): require explicit workflow switch defaults
  docs/development/hostctl-workflow-authoring.md
  tools/hostctl/scenarios/flash-capture.sw.yaml
  tools/hostctl/scenarios/sdcard-hw.sw.yaml
  tools/hostctl/scenarios/troubleshoot.sw.yaml
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/src/scenarios/tests.rs
  tools/hostctl/src/scenarios/workflow_contract_tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): require explicit switch transitions
  tools/hostctl/src/scenarios/engine.rs
  tools/hostctl/src/scenarios/switch_tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): bind wifi discovery results through workflow
  tools/hostctl/scenarios/wifi-discovery-debug.sw.yaml
  tools/hostctl/src/workflows/wifi/discovery/runtime.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/round.rs
  tools/hostctl/src/workflows/wifi/discovery/runtime/summary.rs
Due: rustfmt, host-tools-clippy

style(tooling): format wifi discovery tests
  tools/hostctl/src/workflows/wifi/discovery/tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): bind wifi acceptance state through workflow
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core/network.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_upload.rs
  tools/hostctl/src/workflows/wifi/common/context.rs
  tools/hostctl/src/workflows/wifi/common/mod.rs
Due: rustfmt, host-tools-clippy

style(tooling): format wifi acceptance wait-ready tests
  tools/hostctl/src/workflows/wifi/acceptance/wait_ready_tests.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): bind workflow error context patches
  tools/hostctl/src/scenarios/core.rs
  tools/hostctl/src/scenarios/engine_retry_support.rs
  tools/hostctl/src/scenarios/error_patch_tests.rs
  tools/hostctl/src/scenarios/tests.rs
  tools/hostctl/src/workflows/troubleshoot/context.rs
  tools/hostctl/src/workflows/troubleshoot/mod.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_core.rs
  tools/hostctl/src/workflows/troubleshoot/runtime_steps.rs
Due: rustfmt, host-tools-clippy

refactor(tooling): bind upload metrics through workflow
  docs/development/hostctl-workflow-authoring.md
  tools/hostctl/scenarios/wifi-acceptance.sw.yaml
  tools/hostctl/src/workflows/wifi/acceptance/runtime_core.rs
  tools/hostctl/src/workflows/wifi/acceptance/runtime_upload.rs
  tools/hostctl/src/workflows/wifi/common/context.rs
  tools/hostctl/src/workflows/wifi/common/mod.rs
Due: rustfmt, host-tools-clippy

docs(tooling): refresh hostctl workflow guidance
  docs/development/hostctl-workflow-authoring.md
  docs/development/readme/part-05.md
  tools/hostctl/docs/workflow-engine-extension-plan.md
Due: host-tools-clippy

refactor(upload): split http upload body helpers
  src/firmware/storage/upload/http/connection/body.rs
  src/firmware/storage/upload/http/connection/body/error.rs
  src/firmware/storage/upload/http/connection/body/latency.rs
  src/firmware/storage/upload/http/connection/body/pipeline.rs
  src/firmware/storage/upload/http/connection/body/progress.rs
  src/firmware/storage/upload/http/connection/body/stats.rs
Due: rustfmt

refactor(upload): split boot scan diagnostics
  src/firmware/storage/upload/wifi/connect/boot_scan_diag.rs
  src/firmware/storage/upload/wifi/connect/boot_scan_diag/counters_core.rs
  src/firmware/storage/upload/wifi/connect/boot_scan_diag/counters_runtime.rs
  src/firmware/storage/upload/wifi/connect/boot_scan_diag/mod.rs
  src/firmware/storage/upload/wifi/connect/boot_scan_diag/task_role.rs
Due: rustfmt

refactor(upload): split wifi prepare start flow
  src/firmware/storage/upload/wifi/connect/prepare.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_start.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_start/config.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_start/mod.rs
  src/firmware/storage/upload/wifi/connect/prepare/prepare_start/start_driver.rs
Due: rustfmt

refactor(runtime): split serial telemetry metrics
  src/firmware/runtime/serial_task/metrics/metrics_dump.rs
  src/firmware/runtime/serial_task/metrics/metrics_net.rs
  src/firmware/runtime/serial_task/metrics/mod.rs
  src/firmware/runtime/serial_task/metrics/telemetry_control.rs
Due: rustfmt

refactor(storage): split sd upload stream flow
  src/firmware/storage/sd_task/upload/stream.rs
  src/firmware/storage/sd_task/upload/stream/begin.rs
  src/firmware/storage/sd_task/upload/stream/chunk.rs
  src/firmware/storage/sd_task/upload/stream/finish.rs
  src/firmware/storage/sd_task/upload/stream/mod.rs
Due: rustfmt

refactor(upload): split http upload routes
  src/firmware/storage/upload/http/connection/routes.rs
  src/firmware/storage/upload/http/connection/routes/basic.rs
  src/firmware/storage/upload/http/connection/routes/mod.rs
  src/firmware/storage/upload/http/connection/routes/params.rs
  src/firmware/storage/upload/http/connection/routes/upload.rs
Due: rustfmt

refactor(upload): split promisc diagnostics
  src/firmware/storage/upload/wifi/connect/promisc_diag/config.rs
  src/firmware/storage/upload/wifi/connect/promisc_diag/counters.rs
  src/firmware/storage/upload/wifi/connect/promisc_diag/mod.rs
Due: rustfmt

refactor(upload): split connect low-mem recovery
  src/firmware/storage/upload/wifi/connect/error.rs
  src/firmware/storage/upload/wifi/connect/error/error_low_mem.rs
Due: rustfmt

refactor(storage): split sd upload bridge errors
  src/firmware/storage/upload/sd_bridge/error.rs
  src/firmware/storage/upload/sd_bridge/mod.rs
Due: rustfmt

refactor(upload): split wifi scan stages
  src/firmware/storage/upload/wifi/scan/mod.rs
  src/firmware/storage/upload/wifi/scan/stage.rs
Due: rustfmt

refactor(telemetry): split counter snapshot types
  src/firmware/telemetry/counters.rs
  src/firmware/telemetry/mod.rs
  src/firmware/telemetry/types.rs
Due: rustfmt

refactor(upload): split wifi connect shared state
  src/firmware/storage/upload/wifi/connect/mod.rs
  src/firmware/storage/upload/wifi/connect/task_state.rs
Due: rustfmt

test(tooling): split retry workflow tests
  tools/hostctl/src/scenarios/call_retry_tests.rs
  tools/hostctl/src/scenarios/retry_tests.rs
  tools/hostctl/src/scenarios/tests.rs
  tools/hostctl/src/scenarios/try_retry_tests.rs
Due: rustfmt, host-tools-clippy

ci(tooling): add rust LOC guard
  .github/workflows/rust_ci.yml
  lefthook.yml
  scripts/ci/check_rust_loc.sh
Due: none

refactor(wifi): port legacy internal delivery backends
  docs/development/upload-throughput-history/part-28.md
  docs/development/wifi-upload-decision-ledger.md
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_backend.rs
  vendor/esp-radio-0.17.0/src/wifi/internal_legacy_coex_backend.rs
Due: none
