Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

host-tools-clippy:
  run: scripts/lint_host_tools.sh

chore(ci): align config script paths with scripts reorg
  .cargo/config.toml
  .gh-csi/config.toml
Due: none

docs(docs): update agent instructions for scripts layout and path policy
  AGENTS.md
  tools/scene_maker/AGENTS.md
Due: host-tools-clippy

chore(tooling): refresh code-analysis ratchet baseline
  config/rca-baseline.json
Due: none

Revert "chore(tooling): refresh code-analysis ratchet baseline"
  config/rca-baseline.json
Due: none

refactor(tooling): split scene tool flows to satisfy quality gates
  tools/scene_maker/src/cli.rs
  tools/scene_maker/src/format.rs
  tools/scene_maker/src/inspect.rs
  tools/scene_maker/src/main.rs
  tools/scene_maker/src/pipeline.rs
  tools/scene_maker/src/pipeline/tests.rs
  tools/scene_viewer/src/bundle.rs
  tools/scene_viewer/src/cli.rs
  tools/scene_viewer/src/render.rs
  tools/scene_viewer/src/render/flow.rs
  tools/scene_viewer/src/render/tests.rs
Due: rustfmt, host-tools-clippy

fix(wifi): add listener-gated discovery diagnostics and NoMem telemetry
  docs/development/README.md
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/parser/basic.rs
  src/firmware/runtime/serial_task/parser/mod.rs
  src/firmware/runtime/serial_task/tests.rs
  src/firmware/runtime/service_mode.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/storage/upload/wifi/state.rs
  tools/hostctl/scenarios/wifi-discovery-debug.default.toml
  tools/hostctl/src/workflows_wifi_discovery.rs
Due: rustfmt, host-tools-clippy

fix(wifi): add capability-aware mem snapshots for radio/upload phases
  docs/development/README.md
  src/firmware/psram/mod.rs
  src/firmware/runtime/serial_task/io.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/wifi.rs
  tools/hostctl/src/workflows_wifi_acceptance.rs
  tools/hostctl/src/workflows_wifi_discovery.rs
Due: rustfmt, host-tools-clippy

fix(upload): print mem summary on acceptance failure
  tools/hostctl/src/workflows_wifi_acceptance.rs
Due: rustfmt, host-tools-clippy

fix(wifi): force large buffers to PSRAM and track placement
  docs/development/README.md
  src/firmware/psram/mod.rs
  src/firmware/runtime/serial_task/io.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): broaden zero-discovery scan fallback and defer http buffers
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/storage/upload/wifi/driver.rs
Due: rustfmt

fix(wifi): stabilize discovery recovery and upload retries
  src/firmware/storage/upload/wifi.rs
  tools/hostctl/src/workflows_upload.rs
Due: rustfmt, host-tools-clippy

fix(wifi): harden zero-discovery recovery and acceptance startup gate
  src/firmware/storage/upload/wifi.rs
  tools/hostctl/src/workflows_wifi_acceptance.rs
  tools/hostctl/src/workflows_wifi_discovery.rs
Due: rustfmt, host-tools-clippy

docs(wifi): document zero-discovery regression guardrails
  docs/development/README.md
  docs/development/reliability-issues.md
  docs/development/wifi-discovery-regression-guardrails.md
Due: none

fix(upload): guard cmd25 writes and harden discovery gates
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
  packages/sdcard/src/fat/cluster_utils.rs
  packages/sdcard/src/probe/core.rs
  packages/sdcard/src/probe/io.rs
  packages/sdcard/src/probe/mod.rs
  packages/sdcard/src/probe/write_multi.rs
  packages/sdcard/src/runtime/probe_rw.rs
  tools/hostctl/scenarios/wifi-discovery-debug.default.toml
  tools/hostctl/src/workflows_wifi_acceptance.rs
  tools/hostctl/src/workflows_wifi_discovery.rs
Due: rustfmt, host-tools-clippy

perf(upload): widen rx window and document next sd bottleneck
  docs/development/upload-throughput-history.md
  docs/development/wifi-discovery-regression-guardrails.md
  src/firmware/storage/upload/http.rs
  tools/hostctl/src/workflows_upload.rs
Due: rustfmt, host-tools-clippy

perf(upload): add SD write metrics and contiguous cluster bursts
  docs/development/upload-throughput-history.md
  packages/sdcard/src/fat/cluster_utils.rs
  packages/sdcard/src/probe/core.rs
  packages/sdcard/src/probe/io.rs
  packages/sdcard/src/probe/write_multi.rs
  src/firmware/storage/sd_task/upload.rs
Due: rustfmt

perf(storage): tune SD SPI clock default and add bounded sweep knobs
  docs/development/upload-throughput-history.md
  packages/sdcard/src/probe/core.rs
  packages/sdcard/src/probe/init.rs
  tools/hostctl/src/workflows_wifi_acceptance.rs
Due: rustfmt, host-tools-clippy

perf(upload): increase chunk size and add upload-phase diagnostics
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/types/base.rs
Due: rustfmt

chore(tooling): auto-load .env.local for hw test scripts
  .gitignore
  scripts/lib/run_hostctl.sh
  scripts/tests/hw/test_wifi_acceptance.sh
  scripts/tests/hw/test_wifi_discovery_debug.sh
Due: none

chore(ci): add secret scan hook, workflow, and env template
  .env.example
  .github/workflows/secret_scan.yml
  lefthook.yml
  scripts/ci/check_secrets.sh
Due: none

docs(docs): add upload throughput next-phase RFC
  docs/development/rfc-upload-throughput-next-phase.md
Due: none

refactor(upload): simplify http connection flow and remove cast
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/sd_bridge.rs
Due: rustfmt

refactor(upload): split http server loop into focused helpers
  src/firmware/storage/upload/http.rs
Due: rustfmt

refactor(runtime): split command parsing into focused stages
  src/firmware/runtime/serial_task/parser/mod.rs
Due: rustfmt

refactor(runtime): split diagnostics session flow into helpers
  src/firmware/runtime/diagnostics.rs
Due: rustfmt

refactor(storage): split sd dispatch request flow into helpers
  src/firmware/storage/sd_task/dispatch.rs
Due: rustfmt

refactor(storage): split sd request receive paths
  src/firmware/storage/sd_task/receive.rs
Due: rustfmt

chore(ci): add SonarQube scan setup and env loading
  .env.example
  docs/development/README.md
  scripts/ci/sonar_scan.sh
  sonar-project.properties
Due: none

fix(tooling): wire sonar coverage and address top findings
  .github/workflows/rust_ci.yml
  .gitignore
  docs/development/README.md
  packages/sdcard/src/fat/dir_scan.rs
  scripts/ci/coverage_host.sh
  scripts/ci/sonar_scan.sh
  sonar-project.properties
  tools/scene_maker/scripts/bake_ply_scene.py
Due: host-tools-clippy

fix(storage): reduce upload and fat path complexity
  packages/sdcard/src/fat/cluster_utils.rs
  src/firmware/storage/upload/http.rs
Due: rustfmt

refactor(storage): lower FAT complexity hotspots
  packages/sdcard/src/fat/api_read_write.rs
  packages/sdcard/src/fat/dir_ops.rs
  packages/sdcard/src/fat/fat_mount.rs
  packages/sdcard/src/fat/names_lfn.rs
Due: none

refactor(runtime): split SD init handshake steps
  packages/sdcard/src/probe/init.rs
Due: none

refactor(drivers): replace wildcard imports in control modules
  src/drivers/inkplate/clean.rs
  src/drivers/inkplate/control.rs
  src/drivers/inkplate/control/sensors.rs
  src/drivers/inkplate/control/touch.rs
Due: rustfmt

refactor(drivers): replace wildcard import in base module
  src/drivers/inkplate/base.rs
Due: rustfmt

refactor(drivers): replace remaining inkplate wildcard imports
  src/drivers/inkplate/display/async_impl.rs
  src/drivers/inkplate/display/sync.rs
  src/drivers/inkplate/graphics.rs
  src/drivers/inkplate/i2c.rs
  src/drivers/inkplate/panel.rs
  src/drivers/inkplate/waveform.rs
Due: rustfmt

refactor(drivers): reduce display and touch complexity hotspots
  src/drivers/inkplate/base.rs
  src/drivers/inkplate/control/touch.rs
Due: rustfmt

refactor(event-engine): split tap candidate assessment logic
  src/firmware/event_engine/features.rs
Due: rustfmt

refactor(event-engine): replace tap_hsm wildcard import
  src/firmware/event_engine/tap_hsm.rs
  src/firmware/event_engine/tap_hsm/helpers.rs
Due: rustfmt

refactor(graphics): replace shanshui wildcard imports
  src/firmware/graphics/shanshui.rs
  src/firmware/graphics/shanshui/helpers/mod.rs
  src/firmware/graphics/shanshui/helpers/noise.rs
  src/firmware/graphics/shanshui/helpers/river.rs
Due: rustfmt

refactor(graphics): split shanshui atkinson renderer steps
  src/firmware/graphics/shanshui.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: {src/**/*.rs,tools/**/*.rs,build.rs}
  host-tools-clippy: any of: {tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}
