Repository ai212983/meditamer: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, host-tools-clippy

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

host-tools-clippy:
  run: scripts/lint_host_tools.sh

perf(ram): trim upload http header and socket buffers
  src/firmware/storage/upload/http.rs
Due: rustfmt

perf(psram): back transfer buffers with psram and unload asset cache
  src/firmware/assets/runtime/mod.rs
  src/firmware/assets/runtime/pirata.rs
  src/firmware/config/channels.rs
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/storage/mod.rs
  src/firmware/storage/sd_task/asset_read.rs
  src/firmware/storage/sd_task/upload.rs
  src/firmware/storage/transfer_buffers.rs
  src/firmware/storage/upload/sd_bridge.rs
Due: rustfmt

perf(psram): release transfer buffers when modes are disabled
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/storage/transfer_buffers.rs
Due: rustfmt

docs(runtime): document mode controls and ram validation flow
  docs/development/README.md
Due: none

test(runtime): add uart mode+psram smoke script
  docs/development/README.md
  scripts/runtime_modes_smoke.sh
Due: none

fix(runtime): prevent upload-mode display loop busy-spin
  src/firmware/runtime/display_task/mod.rs
Due: rustfmt

test(runtime): add post-upload uart regression checks
  scripts/runtime_modes_smoke.sh
Due: none

refactor(runtime): make mode updates delta-based and centralized
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/runtime/display_task/mod.rs
  src/firmware/runtime/display_task/runtime_services.rs
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/tests.rs
  src/firmware/types/app_event.rs
  src/firmware/types/mod.rs
  src/firmware/types/modes.rs
Due: rustfmt

refactor(serial): split sdwait and wifiset io handlers
  src/firmware/runtime/serial_task/io.rs
  src/firmware/runtime/serial_task/io/sdwait.rs
  src/firmware/runtime/serial_task/io/wifiset.rs
Due: rustfmt

feat(runtime): ack mode apply before MODE/RUNMODE success
  src/firmware/config/channels.rs
  src/firmware/config/constants.rs
  src/firmware/runtime/display_task/app_events.rs
  src/firmware/runtime/display_task/runtime_services.rs
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/io.rs
  src/firmware/runtime/serial_task/io/mode_ack.rs
  src/firmware/runtime/serial_task/tests.rs
  src/firmware/types/app_event.rs
  src/firmware/types/mod.rs
  src/firmware/types/modes.rs
Due: rustfmt

docs(test): default mode smoke settle to 0 and document mode ack
  docs/development/README.md
  scripts/runtime_modes_smoke.sh
Due: none

test(runtime): fail fast on mode command error in smoke
  scripts/runtime_modes_smoke.sh
Due: none

perf(upload): restore 2048-byte HTTP socket and header buffers
  src/firmware/storage/upload/http.rs
Due: rustfmt

perf(upload): place http upload buffers in psram with fallback
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
Due: rustfmt

fix(wifi): add scan and disconnect diagnostics for no-ap failures
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): force wpa2 and channel-8 profile for connectivity diagnostics
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): broaden scan diagnostics with active and passive sweeps
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): broaden auth cycling and all-channel connection scan
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): increase scan dwell durations for rf discovery diagnostics
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): retry SD credential load while waiting for WIFISET
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

test(upload): add wifi upload regression harness
  scripts/test_wifi_upload_regression.sh
Due: none

fix(wifi): defer discovery scans until failure and probe channels
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(flash): add watchdog heartbeat and fallback strategy
  docs/development/README.md
  scripts/flash.sh
Due: none

docs(flash): document reliable flow and troubleshooting
  AGENTS.md
  docs/development/README.md
Due: none

feat(wifi): add deterministic channel-probe retries and scan telemetry
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(wifi): restore default radio config and harden upload client
  scripts/upload_assets_http.py
  src/firmware/storage/upload/wifi.rs
Due: rustfmt

fix(test): keep upload regression paths within SD path limit
  scripts/test_wifi_upload_regression.sh
Due: none

docs(telemetry): add feasibility review and crate shortlist
  docs/development/telemetry-feasibility.md
Due: none

feat(telemetry): add defmt-backed firmware metrics counters
  Cargo.lock
  Cargo.toml
  docs/development/README.md
  src/firmware/mod.rs
  src/firmware/runtime/serial_task.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt, host-tools-clippy

feat(upload): use telemetry NET status for regression readiness
  docs/development/README.md
  scripts/test_wifi_upload_regression.sh
  src/firmware/runtime/serial_task.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

fix(upload): harden http readiness and uploader retry fallback
  scripts/test_wifi_upload_regression.sh
  scripts/upload_assets_http.py
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/mod.rs
Due: rustfmt

feat(telemetry): add detailed upload http request buckets
  docs/development/README.md
  src/firmware/runtime/serial_task.rs
  src/firmware/storage/upload/http.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

fix(upload): auto-abort stale sessions and keep active session powered
  docs/development/README.md
  src/firmware/runtime/serial_task.rs
  src/firmware/storage/sd_task.rs
  src/firmware/storage/sd_task/upload.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

fix(sd): harden embassy power handshake during startup
  src/firmware/runtime/display_task/mod.rs
  src/firmware/storage/sd_task.rs
  src/firmware/storage/sd_task/power.rs
Due: rustfmt

fix(sd): prevent early idle off churn after boot
  src/firmware/storage/sd_task.rs
  src/firmware/storage/sd_task/power.rs
Due: rustfmt

fix(upload): gate HTTP on DHCP lease and resolve host IP by MAC
  scripts/test_wifi_upload_regression.sh
  scripts/upload_assets_http.py
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/wifi.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

feat(uart): add ping and direct serial regression control
  docs/development/README.md
  scripts/test_wifi_upload_regression.sh
  scripts/test_wifi_upload_regression_serial.py
  src/firmware/runtime/serial_task.rs
  src/firmware/runtime/serial_task/commands.rs
  src/firmware/runtime/serial_task/parser/basic.rs
  src/firmware/runtime/serial_task/parser/mod.rs
  src/firmware/runtime/serial_task/tests.rs
Due: rustfmt

fix(regression): make upload timeout payload-aware in serial runner
  docs/development/README.md
  scripts/test_wifi_upload_regression_serial.py
Due: none

feat(telemetry): add per-phase upload timing metrics
  docs/development/README.md
  src/firmware/runtime/serial_task.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/storage/upload/sd_bridge.rs
  src/firmware/telemetry/mod.rs
Due: rustfmt

perf(upload): coalesce body chunks and stabilize sessions
  docs/development/README.md
  scripts/upload_assets_http.py
  src/firmware/storage/sd_task.rs
  src/firmware/storage/upload/http.rs
  src/firmware/storage/upload/http/connection.rs
  src/firmware/types/base.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: {src/**/*.rs,tools/**/*.rs,build.rs}
  host-tools-clippy: any of: {tools/**,Cargo.toml,Cargo.lock,rust-toolchain.toml}
